<a href="https://colab.research.google.com/github/Anitagg1/Capital-Bikeshare/blob/main/Capital%20Bikeshare%20-%20Hourly%20Data%20Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('hour.csv')

In [ ]:
df.rename(columns={'dteday' : 'daytime', 'yr' : 'year', 'mnth' : 'month'}, inplace=True)

In [ ]:
df.loc[df['year'] == 1, 'year'] = '2012'
df.loc[df['year'] == 0, 'year'] = '2011'

In [ ]:
df.loc[df['season'] == 1, 'season'] = 'winter'
df.loc[df['season'] == 2, 'season'] = 'spring'
df.loc[df['season'] == 3, 'season'] = 'summer'
df.loc[df['season'] == 4, 'season'] = 'fall'

In [ ]:
df.loc[df['weekday'] == 1, 'weekday'] = 'Monday'
df.loc[df['weekday'] == 2, 'weekday'] = 'Tuesday'
df.loc[df['weekday'] == 3, 'weekday'] = 'Wednesday'
df.loc[df['weekday'] == 4, 'weekday'] = 'Thursday'
df.loc[df['weekday'] == 5, 'weekday'] = 'Friday'
df.loc[df['weekday'] == 6, 'weekday'] = 'Saturday'
df.loc[df['weekday'] == 0, 'weekday'] = 'Sunday'

In [ ]:
df.loc[df['holiday'] == 0, 'holiday'] = 'no'
df.loc[df['holiday'] == 1, 'holiday'] = 'yes'

In [ ]:
df.loc[df['weathersit'] == 1, 'weathersit'] = 'clear'
df.loc[df['weathersit'] == 2, 'weathersit'] = 'cloudy'
df.loc[df['weathersit'] == 3, 'weathersit'] = 'LRain'
df.loc[df['weathersit'] == 4, 'weathersit'] = 'Snow'

In [ ]:
df= df.drop(['instant'], axis=1)

In [ ]:
df['timestamp']= pd.to_datetime(df['daytime']) + pd.to_timedelta(df['hr'], unit='h')
df.head()

      daytime  season  year  month  ...  casual registered cnt           timestamp
0  2011-01-01  winter  2011      1  ...       3         13  16 2011-01-01 00:00:00
1  2011-01-01  winter  2011      1  ...       8         32  40 2011-01-01 01:00:00
2  2011-01-01  winter  2011      1  ...       5         27  32 2011-01-01 02:00:00
3  2011-01-01  winter  2011      1  ...       3         10  13 2011-01-01 03:00:00
4  2011-01-01  winter  2011      1  ...       0          1   1 2011-01-01 04:00:00

[5 rows x 17 columns]

In [ ]:
# Changing the index for the new created column called 'timestamp"
df.index = df['timestamp'] 
df

                        daytime  season  ...  cnt           timestamp
timestamp                                ...
2011-01-01 00:00:00  2011-01-01  winter  ...   16 2011-01-01 00:00:00
2011-01-01 01:00:00  2011-01-01  winter  ...   40 2011-01-01 01:00:00
2011-01-01 02:00:00  2011-01-01  winter  ...   32 2011-01-01 02:00:00
2011-01-01 03:00:00  2011-01-01  winter  ...   13 2011-01-01 03:00:00
2011-01-01 04:00:00  2011-01-01  winter  ...    1 2011-01-01 04:00:00
...                         ...     ...  ...  ...                 ...
2012-12-31 19:00:00  2012-12-31  winter  ...  119 2012-12-31 19:00:00
2012-12-31 20:00:00  2012-12-31  winter  ...   89 2012-12-31 20:00:00
2012-12-31 21:00:00  2012-12-31  winter  ...   90 2012-12-31 21:00:00
2012-12-31 22:00:00  2012-12-31  winter  ...   61 2012-12-31 22:00:00
2012-12-31 23:00:00  2012-12-31  winter  ...   49 2012-12-31 23:00:00

[17379 rows x 17 columns]

In [ ]:
df.loc['2011-08-01' : '2011-08-03',: ].resample('30T').count()['cnt'].plot(kind = 'bar')

In [ ]:
df.loc['2011-08-01' : '2012-03-30',: ].resample('30T').count()['cnt']

timestamp
2011-08-01 00:00:00    1
2011-08-01 00:30:00    0
2011-08-01 01:00:00    1
2011-08-01 01:30:00    0
2011-08-01 02:00:00    1
                      ..
2012-03-30 21:00:00    1
2012-03-30 21:30:00    0
2012-03-30 22:00:00    1
2012-03-30 22:30:00    0
2012-03-30 23:00:00    1
Freq: 30T, Name: cnt, Length: 11663, dtype: int64

In [3]:
df.corr()

             instant    season        yr  ...    casual  registered       cnt
instant     1.000000  0.404046  0.866014  ...  0.158295    0.282046  0.278379
season      0.404046  1.000000 -0.010742  ...  0.120206    0.174226  0.178056
yr          0.866014 -0.010742  1.000000  ...  0.142779    0.253684  0.250495
mnth        0.489164  0.830386 -0.010473  ...  0.068457    0.122273  0.120638
hr         -0.004775 -0.006117 -0.003867  ...  0.301202    0.374141  0.394071
holiday     0.014723 -0.009585  0.006692  ...  0.031564   -0.047345 -0.030927
weekday     0.001357 -0.002335 -0.004485  ...  0.032721    0.021578  0.026900
workingday -0.003416  0.013743 -0.002196  ... -0.300942    0.134326  0.030284
weathersit -0.014198 -0.014524 -0.019157  ... -0.152628   -0.120966 -0.142426
temp        0.136178  0.312025  0.040913  ...  0.459616    0.335361  0.404772
atemp       0.137615  0.319380  0.039222  ...  0.454080    0.332559  0.400929
hum         0.009577  0.150625 -0.083546  ... -0.347028   -0.273933 -0.322911
windspeed  -0.074505 -0.149773 -0.008740  ...  0.090287    0.082321  0.093234
casual      0.158295  0.120206  0.142779  ...  1.000000    0.506618  0.694564
registered  0.282046  0.174226  0.253684  ...  0.506618    1.000000  0.972151
cnt         0.278379  0.178056  0.250495  ...  0.694564    0.972151  1.000000

[16 rows x 16 columns]